.share-box {
  width: 40rem;
  max-width: 90%;
  border-radius: 0.5rem;
  background-color: $white-color;
  .share-box__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    i {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1.2rem;
      cursor: pointer;
      &:active {
        opacity: 0.8;
      }
    }
  }
  .share-box__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .share-box__link {
    position: relative;
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    border-radius: 50%;
    color: $white-color;
    background-color: black;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.email {
      i {
        top: 45%;
        font-size: 1.5rem;
      }
    }
    &.facebook {
      i {
        left: 48%;
        top: 50.5%;
        font-size: 1.7rem;
      }
    }
    &.twitter {
      i {
        font-size: 1.7rem;
      }
    }
    &.whatsapp {
      i {
        font-size: 2rem;
      }
    }
  }
}
